@import "../../varmix";

.footer{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 50px;

        &>*{
            &>*{
                color: $black;
                margin: 10px 0;
            }
            flex-basis: 200;
            margin: 20px 0;
        }

    }
}